.contactme-icons {
  width: 100%;
}

.aboutme {
  text-align: -webkit-center;
  padding-bottom: 10px;
}

.contact-title {
  font-size: 70px;
  font-weight: 400;
  font-family: sans-serif;
  line-height: 1.1;
  text-align: center;
  white-space: nowrap;
  align-items: start;
  width: 400px;
}

.contact-description {
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  width: 400px;
}

.contact-btn .btn {
  margin: 0px;
  margin-top: 20px;
  align-content: center;
  position: relative !important;
  right: 0px !important; 
  bottom: 0px !important;
}

.message-svg {
  width: 450px;
}

@media (max-width: 900px) {
  .message-svg {
    width: 464;
  }
  .message-svg-container {
    width: 100%;
  }
  .aboutme {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .message-svg {
    width: 700px;
    height: 500px;
    margin-bottom: 100px;
  }
}

@media (min-width: 1600px) {
  .message-svg {
    width: 800px;
    margin-bottom: 100px;
  }
}
