.contactme-icons {
  width: 100%;
}

.aboutme {
  display: grid;
  justify-content: right;
  margin-top: 15%;
  margin-right: 100px;
}

.contact-title {
  font-size: 70px;
  font-weight: 400;
  font-family: sans-serif;
  line-height: 1.1;
  text-align: center;
  white-space: nowrap;
  align-items: start;
  width: 400px;
}

.contact-description {
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  width: 400px;
}

.contact-btn .btn {
  bottom: -65px;
  margin: 0px;
  align-content: center;
  right: 240px !important;
}

@media (max-width: 1360px) {
  .message-svg-container {
    top: 30px !important;
  }
  .message-svg {
    width: 650px;
  }
}

