.header {
  position: absolute;
  width: 100%;
  z-index: 3;
  text-align: end;
}

.logo {
  position: absolute;
  text-decoration: none;
  font-size: 1.5em;
  left: 70px;
  top: 20px;
  white-space: nowrap;
  color: black;
  z-index: -1;
}

.logo span {
  font-size: 1.5em;
}
.logo-name {
  font-size: 1.5em;
  font-family: 'Agustina';
  font-weight: 700;
}

.menu {
  display: inline-flex;
  margin: 0;
  padding: 0;
  z-index: 3;
  list-style: none;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 5px;
  margin-right: 100px;
}

.menu li {
  text-decoration: none;
  z-index: 4;
}

.menu li a {
  z-index: 4;
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: #001C55;
  font-family: 'Glory';
  font-size: 23px;
  z-index: 4;
}

.menu-item-selected {
  font-weight: bold;
  color: red;
}

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.menu-konsole-icon {
  z-index: 1;
  display: none;
  box-shadow: 0px 0px 20px 2px red;
  animation: redGlow 2s infinite alternate;
  background: red;
}

@keyframes redGlow {
  from {
    box-shadow: 0 0 10px -2px red;
  }
  to {
    box-shadow: 0 0 10px 0.5px red;
  }
}

.outline-menu {
  display: none;
  cursor: pointer;
  top: 5px;
  right: 40px;
}

@media (max-width: 868px) {
  .menu {
    display: none;
    background: violet;
    text-align: -webkit-center;
    width: 100%;
    margin-top: 0px;
  }
  .menu li {
    width: 150px;
  }
  .outline-menu {
    display: block;
  }
}

@media (min-width: 868.1px) {
  .menu {
    display: inline-flex !important;
    z-index: 3;
  }
}
