.project-container {
  position: absolute;
  width: 100%;
  padding-bottom: 20px !important;
  margin-top: 160px;
  z-index: 3;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.project-card {
  padding: 50px 25px!important;
  height: auto!important;
}

.project-card-view {
  position: relative;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  width: 330px;
  height: 539px;
}

.project-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 4px 4px 5px rgba(129, 72, 144, 0.561) !important;
}
