.resize-wrapper {
  position: absolute;
  z-index: 1;
  background: red;
  height: 2px !important;
  left: 8px !important;
  top: -21px !important;
}

.window {
  position: absolute;
  z-index: 1;
  opacity: 0.8;
  cursor: text !important;

}
.window-bar {
  position: absolute;
  height: calc(100% - 0.5rem);
  width: calc(100% - 1rem);
  left: 8px;
  top: 2px;
  color: white;
  background: grey;
  z-index: 1;
  cursor: text !important;
  font-family: monospace;
  font-size: 17px;
}

.window-cmd {
  color: #00eb00;
}

.window-bar {
  color: white;
}
